{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %}StakeHolders - healthchecks.io {% endblock %}

{% block content %}

    <div id="stakeholder_popup">
        The Stakeholder entered already exists for this Check.
    </div>

    <div class="col-sm-12">
        <h1>
            {% if request.team == request.user.profile %}
                StakeHolders
            {% else %}
                {{  request.team.team_name }}
            {% endif %}
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-12">

            {% if stakeholders %}
                {% include "front/stakeholder_desktop.html" %}
            {% else %}
                <div class="alert alert-info">You dont have any stakeholders yet.</div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <a id="add_stakeholder" class="btn btn-primary btn-lg"
               data-url="{% url 'hc-add-stakeholder' code %}">
                Add Stakeholder
            </a>
        </div>
    </div>

    <div id="update-stakeholder-modal" class="modal">
        <div class="modal-dialog">
            <form id="stakeholder" class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="update-stakeholder-title">Add Check Stakeholder</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="update-stakeholder-name"
                                   class="col-sm-2 control-label">
                                Name
                            </label>
                            <div class="col-sm-9">
                                <input id="stakeholder-name"
                                       type="text" name="stakeholder_name"
                                       placeholder="Name e.g Jane Doe"
                                       class="form-control"><br>

                                <span class="help-block">
                                    Add the name of the stakeholder you wish to be notified
                                    if failed check is not addressed.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stakeholder-email"
                                   class="col-sm-2 control-label">
                                Email
                            </label>
                          <div class="col-sm-9">

                            <input id="update-stakeholder-email"
                                   type="text" name="stakeholder_email"
                                   placeholder="Email e.g jane@example.org"
                                   class="form-control"><br>

                            <span class="help-block">
                              Add the email of stakeholder you wish to be notified if failed check is not addressed.
                            </span>
                          </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="remove-stakeholder-modal" class="modal">
        <div class="modal-dialog">
            <form id="remove-stakeholder-form" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="remove-stakeholder-title">Remove Stakeholder<span class="remove-stakeholder-name"></span></h4>
                    </div>
                    <div class="modal-body">
                        <p>You are about to remove stakeholder
                            <strong class="remove-stakeholder-name">---</strong>.
                        </p>
                        <p>Once it's gone there is no "undo".</p>
                        <p>Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/stakeholder.js' %}"></script>
{% endcompress %}
    {% if duplicate %}
        <script>stakeholder_popup();</script>
    {% endif %}
{% endblock %}